In [1]:
scientist: [
    {'name':'Ada Lovlace','field':'math','born':1815,'noble':False},
    {'name':'Emmy Noether','field':'math','born':1882,'noble': False}
]

    
# example of mutable datastructure

# functional programming emphasizes on immutable datastructure

In [2]:
import collections
from collections import namedtuple
from pprint import pprint

In [3]:
Scientist = namedtuple('Scientist',
                      ['name','field','born','noble'])

In [4]:
Scientist

__main__.Scientist

In [5]:
ada=Scientist(name='Ada Lovlace',field='math',born=1815,noble=False)
emmy= Scientist(name='Emmy Noether',field='math',born=1882,noble= False)

In [6]:
print(ada.name,ada.field)
# named tuples are immutable

Ada Lovlace math

In [7]:
scientist= [ada,emmy]

In [8]:
pprint(scientist)

[Scientist(name='Ada Lovlace', field='math', born=1815, noble=False),
 Scientist(name='Emmy Noether', field='math', born=1882, noble=False)]

In [9]:
#scientist[0].name = "Ram" # not possible

In [10]:
# lists is mutable - deletion and insertion possible
# so better to use immutable list -- tuple

In [11]:
scientist= (ada,emmy)

In [12]:
# del scientist[0]
# not possible

In [13]:
scientist[0].name

'Ada Lovlace'

## Filter function

In [14]:
#Return an iterator yielding those items of iterable for which function(item)
#is true. If function is None, return the items that are true.

In [15]:
scientist = (
    Scientist(name='Ada Lovlace', field='math', born=1815, noble=False),
    Scientist(name='Emmy Noether', field='math', born=1815, noble=False),
    Scientist(name='Marie Curie', field='physics', born=1867, noble=True),
    Scientist(name='Tu Youyou', field='chemistry', born=1930, noble=True),
    Scientist(name='Ada Yonath', field='chemistry', born=1939, noble=True),
    Scientist(name='Vera Rubin', field='astronomy', born=1928, noble=False),
    Scientist(name='Sally Ride', field='physics', born=1951, noble=False)
    
)

In [16]:
scientist_who_won_noble=tuple(filter(lambda x: x.noble, scientist))
scientist_who_won_noble

(Scientist(name='Marie Curie', field='physics', born=1867, noble=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, noble=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, noble=True))

In [17]:
filter?

In [18]:
scientist_who_won_no_noble=tuple(filter(lambda x:not x.noble, scientist))
scientist_who_won_no_noble

(Scientist(name='Ada Lovlace', field='math', born=1815, noble=False),
 Scientist(name='Emmy Noether', field='math', born=1815, noble=False),
 Scientist(name='Vera Rubin', field='astronomy', born=1928, noble=False),
 Scientist(name='Sally Ride', field='physics', born=1951, noble=False))

In [19]:
tuple(filter(lambda x: x.field=="physics" and x.noble, scientist))

(Scientist(name='Marie Curie', field='physics', born=1867, noble=True),)

In [20]:
def noble_filter(x):
    return x.noble

pprint(tuple(filter(noble_filter, scientist)))

(Scientist(name='Marie Curie', field='physics', born=1867, noble=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, noble=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, noble=True))

In [21]:
pprint(tuple(x for x in scientist if x.noble))

(Scientist(name='Marie Curie', field='physics', born=1867, noble=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, noble=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, noble=True))