In [ ]:
Reference:

In [1]:
scientist: [
    {'name':'Ada Lovlace','field':'math','born':1815,'noble':False},
    {'name':'Emmy Noether','field':'math','born':1882,'noble': False}
]

    
# example of mutable datastructure

# functional programming emphasizes on immutable datastructure

In [2]:
import collections
from collections import namedtuple
from pprint import pprint

In [3]:
Scientist = namedtuple('Scientist',
                      ['name','field','born','noble'])

In [4]:
Scientist

__main__.Scientist

In [5]:
ada=Scientist(name='Ada Lovlace',field='math',born=1815,noble=False)
emmy= Scientist(name='Emmy Noether',field='math',born=1882,noble= False)

In [6]:
print(ada.name,ada.field)
# named tuples are immutable

Ada Lovlace math

In [7]:
scientist= [ada,emmy]

In [8]:
pprint(scientist)

[Scientist(name='Ada Lovlace', field='math', born=1815, noble=False),
 Scientist(name='Emmy Noether', field='math', born=1882, noble=False)]

In [9]:
#scientist[0].name = "Ram" # not possible

In [10]:
# lists is mutable - deletion and insertion possible
# so better to use immutable list -- tuple

In [11]:
scientist= (ada,emmy)

In [12]:
# del scientist[0]
# not possible

In [13]:
scientist[0].name

'Ada Lovlace'

## Filter function

In [14]:
#Return an iterator yielding those items of iterable for which function(item)
#is true. If function is None, return the items that are true.

In [32]:
scientist = (
    Scientist(name='Ada Lovlace', field='math', born=1815, noble=False),
    Scientist(name='Emmy Noether', field='math', born=1882, noble=False),
    Scientist(name='Marie Curie', field='physics', born=1867, noble=True),
    Scientist(name='Tu Youyou', field='chemistry', born=1930, noble=True),
    Scientist(name='Ada Yonath', field='chemistry', born=1939, noble=True),
    Scientist(name='Vera Rubin', field='astronomy', born=1928, noble=False),
    Scientist(name='Sally Ride', field='physics', born=1951, noble=False)
    
)

In [33]:
scientist_who_won_noble=tuple(filter(lambda x: x.noble, scientist))
scientist_who_won_noble

(Scientist(name='Marie Curie', field='physics', born=1867, noble=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, noble=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, noble=True))

In [17]:
filter?

In [34]:
scientist_who_won_no_noble=tuple(filter(lambda x:not x.noble, scientist))
scientist_who_won_no_noble

(Scientist(name='Ada Lovlace', field='math', born=1815, noble=False),
 Scientist(name='Emmy Noether', field='math', born=1882, noble=False),
 Scientist(name='Vera Rubin', field='astronomy', born=1928, noble=False),
 Scientist(name='Sally Ride', field='physics', born=1951, noble=False))

In [35]:
tuple(filter(lambda x: x.field=="physics" and x.noble, scientist))

(Scientist(name='Marie Curie', field='physics', born=1867, noble=True),)

In [36]:
def noble_filter(x):
    return x.noble

pprint(tuple(filter(noble_filter, scientist)))

(Scientist(name='Marie Curie', field='physics', born=1867, noble=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, noble=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, noble=True))

In [37]:
pprint(tuple(x for x in scientist if x.noble))

(Scientist(name='Marie Curie', field='physics', born=1867, noble=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, noble=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, noble=True))

## Map function

In [22]:
#Make an iterator that computes the function using arguments from
#each of the iterables.  Stops when the shortest iterable is exhausted.

In [38]:
scientist

(Scientist(name='Ada Lovlace', field='math', born=1815, noble=False),
 Scientist(name='Emmy Noether', field='math', born=1882, noble=False),
 Scientist(name='Marie Curie', field='physics', born=1867, noble=True),
 Scientist(name='Tu Youyou', field='chemistry', born=1930, noble=True),
 Scientist(name='Ada Yonath', field='chemistry', born=1939, noble=True),
 Scientist(name='Vera Rubin', field='astronomy', born=1928, noble=False),
 Scientist(name='Sally Ride', field='physics', born=1951, noble=False))

In [39]:
tuple(map(lambda x: (x.name, 2021-x.born),scientist))

(('Ada Lovlace', 206),
 ('Emmy Noether', 139),
 ('Marie Curie', 154),
 ('Tu Youyou', 91),
 ('Ada Yonath', 82),
 ('Vera Rubin', 93),
 ('Sally Ride', 70))

In [40]:
name_age=tuple(map(lambda x: {"name":x.name, "age":2021-x.born},scientist))
name_age

({'name': 'Ada Lovlace', 'age': 206},
 {'name': 'Emmy Noether', 'age': 139},
 {'name': 'Marie Curie', 'age': 154},
 {'name': 'Tu Youyou', 'age': 91},
 {'name': 'Ada Yonath', 'age': 82},
 {'name': 'Vera Rubin', 'age': 93},
 {'name': 'Sally Ride', 'age': 70})

In [43]:
name_age_list=tuple({"name":x.name.upper(), "age":2017-x.born} for x in scientist)
name_age_list

({'name': 'ADA LOVLACE', 'age': 202},
 {'name': 'EMMY NOETHER', 'age': 135},
 {'name': 'MARIE CURIE', 'age': 150},
 {'name': 'TU YOUYOU', 'age': 87},
 {'name': 'ADA YONATH', 'age': 78},
 {'name': 'VERA RUBIN', 'age': 89},
 {'name': 'SALLY RIDE', 'age': 66})

## Reduce Function

In [27]:
from functools import reduce

In [28]:
#Apply a function of two arguments cumulatively to the items of a sequence,
#from left to right, so as to reduce the sequence to a single value.

In [52]:
name_age_list

({'name': 'ADA LOVLACE', 'age': 202},
 {'name': 'EMMY NOETHER', 'age': 135},
 {'name': 'MARIE CURIE', 'age': 150},
 {'name': 'TU YOUYOU', 'age': 87},
 {'name': 'ADA YONATH', 'age': 78},
 {'name': 'VERA RUBIN', 'age': 89},
 {'name': 'SALLY RIDE', 'age': 66})

In [55]:
tuple(filter(lambda x:x['age']<80,name_age_list))

({'name': 'ADA YONATH', 'age': 78}, {'name': 'SALLY RIDE', 'age': 66})

In [44]:
total_age = reduce(
lambda acc, val: acc + val['age'],name_age_list,
0)   
# 0 is the intial sum value
total_age

808

In [59]:
age_gt_80=tuple(filter(lambda x:x['age']<80,name_age_list))
age_gt_80

({'name': 'ADA YONATH', 'age': 78}, {'name': 'SALLY RIDE', 'age': 66})

In [68]:
total_age_filter= reduce (
lambda acc,val:acc+val['age'],filter(lambda x:x['age']<80,name_age_list),0)
total_age_filter

144

In [67]:
sum(x['age'] for x in name_age_list if  x['age'] <80)

144

# grouping function by reduce

In [77]:
def reducer(acc,val):
    acc[val.field].append(val.name)
    return acc

In [78]:
scientist_by_group= reduce(
reducer,
    scientist,
{'math':[],'physics':[],'chemistry':[],'astronomy':[]})

In [79]:
scientist_by_group

{'math': ['Ada Lovlace', 'Emmy Noether'],
 'physics': ['Marie Curie', 'Sally Ride'],
 'chemistry': ['Tu Youyou', 'Ada Yonath'],
 'astronomy': ['Vera Rubin']}

In [80]:
from collections import defaultdict

In [81]:
scientist_by_group= reduce(
reducer,
    scientist,
defaultdict(list))

In [83]:
dict(scientist_by_group)

{'math': ['Ada Lovlace', 'Emmy Noether'],
 'physics': ['Marie Curie', 'Sally Ride'],
 'chemistry': ['Tu Youyou', 'Ada Yonath'],
 'astronomy': ['Vera Rubin']}